@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati&family=Montserrat:wght@600&family=Nunito+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* loader start */
#outerContainer {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
#innerContainer {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  padding: 5px;
  /* overflow: hidden; */

  border-radius: 100%;
}
#innerCircle {
  height: 90px;
  width: 90px;
  background: #2f2f2f;
  border-radius: 100%;
  /* margin: 5px; */
  z-index: 2;
  position: relative;
}
#revolver {
  position: absolute;
  height: 50px;
  width: 50px;
  background: #008080;
  top: 0;
  z-index: 1;
  transform: rotate(-90deg);
  animation: rotation 2s infinite linear;
  transform-origin: 50px 50px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* loader end */
